body {
    background-color: #000;
    color: #fff;
}

.navbar {
    background-color: #111;
}

.card {
    background-color: #222;
}

.card-body {
    color: #fff;
}

.btn-light {
    background-color: #fff;
    color: #000;
}

.form-control {
    background-color: #333;
    color: #fff;
}

.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
} 

.regt {
    color: #fff;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.reg {
    color: #fff;  
}


.img-thumbnail {
    width: 100%;      /* Set the width to 100% of the card */
    height: 200px;    /* Set a fixed height */
    object-fit:cover; /* Ensures the image covers the space without distortion */
}

.pro-thumbnail {
    width: 150px;
    height:150px;
    object-fit:cover;
    border-left: 1.75px solid #b9bdbb;
    border-top: 1.75px solid  #b9bdbb;
    border-bottom: 1.75px solid #b9bdbb;
    border-right: 1.75px solid #b9bdbb;
    background-color: rgba(0, 0, 0,0.5);
}

.sell{
    color: #fff;
}

.sell a :hover{
    color: #c1bbbb;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

.dis{
    border-left: .3em solid #f3f5f4;
    border-top: .3em solid  #f3f5f4;
    border-bottom: .3em solid #f3f5f4;
    border-right: .3em solid #f3f5f4;
}