{% extends 'base.html' %}

{% block content %}
    <div class="container h-100 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card p-4 col-md-4">
            <center><h1 class="regt">Upload Photographs</h1></center>
        <form method="POST" action="{{ url_for('sell') }}" enctype="multipart/form-data">
        <div class="mb-3 sell">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" required>
        </div>
        <div class="mb-3 sell">
            <label for="genre" class="form-label">Genre</label>
            <select id="filterGenre" class="form-control" name="genre" required>
                <option value="">Choose Photo Genre</option>
                <option value="Abstract Photography">Abstract Photography</option>
                <option value="Aerial Photography">Aerial Photography</option>
                <option value="Architectural Photography">Architectural Photography</option>
                <option value="Astrophotography">Astrophotography</option>
                <option value="Black and White Photography">Black and White Photography</option>
                <option value="Conceptual Photography">Conceptual Photography</option>
                <option value="Documentary Photography">Documentary Photography</option>
                <option value="Editorial Photography">Editorial Photography</option>
                <option value="Event Photography">Event Photography</option>
                <option value="Fashion Photography">Fashion Photography</option>
                <option value="Fine Art Photography">Fine Art Photography</option>
                <option value="Food Photography">Food Photography</option>
                <option value="Geometric Photography">Geometric Photography</option>
                <option value="High-Key Photography">High-Key Photography</option>
                <option value="Landscape Photography">Landscape Photography</option>
                <option value="Long Exposure Photography">Long Exposure Photography</option>
                <option value="Low-Key Photography">Low-Key Photography</option>
                <option value="Macro Photography">Macro Photography</option>
                <option value="Minimalist Photography">Minimalist Photography</option>
                <option value="Monochrome Photography">Monochrome Photography</option>
                <option value="Negative Space Photography">Negative Space Photography</option>
                <option value="Portrait Photography">Portrait Photography</option>
                <option value="Product Photography">Product Photography</option>
                <option value="Reflections Photography">Reflections Photography</option>
                <option value="Shadow Photography">Shadow Photography</option>
                <option value="Silhouette Photography">Silhouette Photography</option>
                <option value="Sports Photography">Sports Photography</option>
                <option value="Still Life Photography">Still Life Photography</option>
                <option value="Street Photography">Street Photography</option>
                <option value="Symmetry Photography">Symmetry Photography</option>
                <option value="Texture Photography">Texture Photography</option>
                <option value="Travel Photography">Travel Photography</option>
                <option value="Underwater Photography">Underwater Photography</option>
                <option value="Wildlife Photography">Wildlife Photography</option>
            </select>
        </div>
        <div class="mb-3 sell">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" name="price" required>
        </div>
        <div class="mb-3 sell">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control" name="image" required>
        </div>
        <center><button type="submit" class="btn btn-primary btn-block" >Upload</button></center><br>
    </form>
</div>
</div>
{% endblock %}
