{% extends 'base.html' %}

{% block content %}
    <div class="container h-100 d-flex justify-content-center align-items-center" style="min-height: 100vh;">
        <div class="card p-4 col-md-4">
            <center><h1 class="regt">Upload Photographs</h1></center>
        <form method="POST" action="{{ url_for('sell') }}" enctype="multipart/form-data">
        <div class="mb-3 sell">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" required>
        </div>
        <div class="mb-3 sell">
            <label for="genre" class="form-label">Genre</label>
            <input type="text" class="form-control" name="genre" required>
        </div>
        <div class="mb-3 sell">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" name="price" required>
        </div>
        <div class="mb-3 sell">
            <label for="image" class="form-label">Image</label>
            <input type="file" class="form-control" name="image" required>
        </div>
        <center><button type="submit" class="btn btn-primary btn-block" >Upload</button></center><br>
    </form>
</div>
</div>
{% endblock %}
